
.body{
 width: calc(100% - 10rem);
 height: auto;
 margin-left: 10rem;
 margin-top: 2rem;
 z-index: 0;
 position: static;
 top: 0;
 padding: 3rem; 
 transition: all .8s ease-in-out;

}

.body-trimmed{
    width: calc(100% - 12rem);
    margin-left: 12rem;
}


svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }